.time-top {
  text-align: center;
  position: relative;
  a {
    position: absolute;
    display: inline-block;
    width: 250px;
    height: 60px;
    right: 40px;
    top: 20px;
    background-color: transparent;
  }
}

.floor {
  position: relative;
  padding-bottom: 20px;
  .txt-r {
    text-align: right;
  }
  .txt-c {
    text-align: center;
  }
  .title {
    position: relative;
  }
  &-more{
    height: 30px;
    background: url("./imgs/more-shop.png") no-repeat center center;
    margin-bottom: 15px;
  }
  .floor-body {
    padding-top: 14px;
    padding-bottom: 14px;
    // padding: 20px 0;
  }
}

.floor-shop {
  height: 111px;
  margin-top: 10px;
  padding: 10px;
  clear: both;
  // margin-bottom: 10px;
  a {
    float: left;
    width: 160px;
    height: 53px;
    margin-right: 2px;
    margin-left: 1px;
    background-color: transparent;
    opacity: 0;
  }
}

.floor-1 {
  .floor-shop {
    background: url(./imgs/logo-1.png) no-repeat center top;
  }
}

.floor-2 {
  .floor-shop {
    background: url(./imgs/logo-2.png) no-repeat center top;
  }
}

.floor-3 {
  .floor-shop {
    background: url(./imgs/logo-3.png) no-repeat center top;
  }
}

.floor-4 {
  .floor-shop {
    background: url(./imgs/logo-4.png) no-repeat center top;
  }
}

.floor-5 {
  .floor-shop {
    background: url(./imgs/logo-5.png) no-repeat center top;
  }
}

.floor-6 {
  .floor-shop {
    background: url(./imgs/logo-6.png) no-repeat center top;
  }
}

// .floor-7 {
//   .floor-shop {
//     background: url(./imgs/l7.png) no-repeat center top;
//   }
// }
.product {
  &-list {
    margin-right: -20px;
    li {
      float: left;
      width: 245px;
      margin-right: 7px;
      margin-bottom: 10px;
      transition: all .5s;
      &:hover {
        transition: all .5s;
        // transform:translateY(-2px);
        img {
          transform: scale(1.03);
        }
      }
    }
    a {
      color: #333;
      font-size: 12px;
      text-decoration: none;
    }
    img {
      transition: all .5s;
      display: block;
      max-width: 100%;
    }
    .thumb {
      width: 245px;
      height: 265px;
      overflow: hidden;
      background: #FFF url(./imgs/balls.svg) no-repeat center center;
    }
  }
  &-content {
    background-color: #FFF;
    padding: 12px;
    .product-name {
      display: block;
      padding-bottom: 5px;
    }
    .buy-btn {
      // display: inline-block;
      float: right;
      width: 106px;
      height: 30px;
      line-height: 30px;
      color: #FFF;
      text-align: center;
      text-indent: -10px;
      background: #e8320a url(./imgs/buy-right.png) no-repeat 82px center;
    }
    .price {
      display: inline-block;
      color: #fc2668;
      font-size: 22px;
      height: 30px;
      line-height: 30px;
      i {
        font-size: 18px;
        font-style: normal;
      }
    }
  }
}

.floor-list {
  margin-left: -5px;
  margin-right: -5px;
  ul {
    clear: both;
    overflow: hidden;
  }
  li {
    float: left;
    margin: 5px;
  }
}

.layui-layer-shade {
  opacity: .8!important;
  filter: alpha(opacity=80)!important;
}

.layer-html-1-main {
  position: relative;
  overflow: hidden;
  .online-url-sp {
    position: absolute;
    width: 130px;
    height: 30px;
    top: 155px;
    left: 615px;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
  }
}

.close-layer {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: transparent;
  right: 10px;
  cursor: pointer;
  top: 0;
}