<div id="frame">
  <div class="bg_2">
    <div class="bg_3">
      <!--banner-->
      <div class="sp-banner">&nbsp;</div>
      <div class="sp-header m-auto w">
        <span class="line-1">&nbsp;</span>
        <span class="line-2">&nbsp;</span>
      </div>
      <!--banner end-->
      <!--product -->
      <div class="sp-main m-auto w" id="floor_1">
        <ul class="product-ul">
          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/1.png" alt="">
              </div>
              <div class="p-title">Line布朗熊便当盒</div>
              <div class="p-desc">让萌货陪你一起吃饭</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/1.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/2.png" alt="">
              </div>
              <div class="p-title">花王颈部热敷贴</div>
              <div class="p-desc">低头族的福音 发热30分钟</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/2.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/3.png" alt="">
              </div>
              <div class="p-title">Canmake珠光眼影蜜</div>
              <div class="p-desc">新手也能轻松打造闪亮双眼</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/3.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/4.png" alt="">
              </div>
              <div class="p-title">毛穴抚子白米面膜</div>
              <div class="p-desc">100%大米制成 孕妇可用</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/4.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/5.png" alt="">
              </div>
              <div class="p-title">松下纳米水离子电吹风</div>
              <div class="p-desc">给你梦想的飘逸秀发</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/5.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/6.png" alt="">
              </div>
              <div class="p-title">城野医生收敛化妆水</div>
              <div class="p-desc">不含酒精的爽肤水</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/6.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/7.png" alt="">
              </div>
              <div class="p-title">santen参天FX滴眼液</div>
              <div class="p-desc">日亚眼药水销量第一名</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/7.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/8.png" alt="">
              </div>
              <div class="p-title">佳丽宝酵母洗颜粉</div>
              <div class="p-desc">COSME大赏第三名</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/8.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/9.png" alt="">
              </div>
              <div class="p-title">资生堂Fino高效滋润发膜</div>
              <div class="p-desc">层层渗透 枯草也“葱葱”</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/9.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/10.png" alt="">
              </div>
              <div class="p-title">万能尊马油</div>
              <div class="p-desc">COSME大赏面霜第一名</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/10.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/11.png" alt="">
              </div>
              <div class="p-title">大麦若叶100%青汁粉末</div>
              <div class="p-desc">碱性食物之王 瘦身排毒</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/11.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/12.png" alt="">
              </div>
              <div class="p-title">新谷酵素 睡眠瘦酵素 </div>
              <div class="p-desc">吃货救星 睡出好身材</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/12.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/13.png" alt="">
              </div>
              <div class="p-title">小林退热贴</div>
              <div class="p-desc">专为宝宝设计 安心退热</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/13.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/14.png" alt="">
              </div>
              <div class="p-title">狮王PAIR祛痘暗疮膏</div>
              <div class="p-desc">战痘武器 控油杀菌</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/14.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/15.png" alt="">
              </div>
              <div class="p-title">资生堂安耐晒防晒露</div>
              <div class="p-desc">防晒最畅销单品 四季通用</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/15.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/16.png" alt="">
              </div>
              <div class="p-title">豆乳乳酪面膜</div>
              <div class="p-desc">日本名模梨花推荐</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/16.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/17.png" alt="">
              </div>
              <div class="p-title">天然贝壳除菌消毒粉</div>
              <div class="p-desc">收获日本主妇大好评</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/17.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/18.png" alt="">
              </div>
              <div class="p-title">比那氏樱花漱口水</div>
              <div class="p-desc">天后王菲同款漱口水</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/18.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/19.png" alt="">
              </div>
              <div class="p-title">尤妮佳Silcot化妆棉</div>
              <div class="p-desc">人气超省水化妆棉</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/19.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/20.png" alt="">
              </div>
              <div class="p-title">莎娜豆乳卸妆洗面奶</div>
              <div class="p-desc">健康美肤从温和清洁开始</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/20.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/21.png" alt="">
              </div>
              <div class="p-title">小林制药内裤专用清洗剂</div>
              <div class="p-desc">姨妈污渍清洗专用剂</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/21.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/22.png" alt="">
              </div>
              <div class="p-title">撒隆巴斯Ae镇痛贴</div>
              <div class="p-desc">快速舒缓僵直酸痛肌肉</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/22.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/23.png" alt="">
              </div>
              <div class="p-title">象印电饭煲</div>
              <div class="p-desc">受热均匀 米饭Q弹饱满</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/23.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/24.png" alt="">
              </div>
              <div class="p-title">卡西欧g-shock手表</div>
              <div class="p-desc">酷炫多功能运动男表</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/24.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/25.png" alt="">
              </div>
              <div class="p-title">anello简约双肩包</div>
              <div class="p-desc">撞色新一代国民双肩包</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/25.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/26.png" alt="">
              </div>
              <div class="p-title">花王蒸汽眼罩</div>
              <div class="p-desc">舒缓眼部疲劳的神奇法宝</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/26.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/27.png" alt="">
              </div>
              <div class="p-title">镇咳祛痰龙角散</div>
              <div class="p-desc">采用日本中草药精制而成</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/27.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/28.png" alt="">
              </div>
              <div class="p-title">三宅一生六格手提包</div>
              <div class="p-desc">将传统与现代结合</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/28.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/29.png" alt="">
              </div>
              <div class="p-title">松下电动剃须刀</div>
              <div class="p-desc">高速磁悬浮马达 刚劲动力</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/29.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/30.png" alt="">
              </div>
              <div class="p-title">过敏性鼻炎喷雾剂</div>
              <div class="p-desc">日本超人气鼻炎救星</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/30.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/31.png" alt="">
              </div>
              <div class="p-title">小林液体创口贴</div>
              <div class="p-desc">日本最具人气的创口贴</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/31.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/32.png" alt="">
              </div>
              <div class="p-title">电子防蚊驱蚊器</div>
              <div class="p-desc">日亚驱蚊类销售TOP1</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/32.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/33.png" alt="">
              </div>
              <div class="p-title">KISS ME眼线液笔</div>
              <div class="p-desc">很多美妆博主都在用</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/33.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/34.png" alt="">
              </div>
              <div class="p-title">松下温感按摩美容仪</div>
              <div class="p-desc">风靡日本的美容瘦身神器</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/34.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/35.png" alt="">
              </div>
              <div class="p-title">参天玫瑰眼药水</div>
              <div class="p-desc">滴眼液中的爱马仕</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/35.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>

          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/36.png" alt="">
              </div>
              <div class="p-title">24K黄金美容棒</div>
              <div class="p-desc">3分钟打造V型脸</div>
              <div class="scan-icon">&nbsp;</div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/36.png" alt="">
              </div>
              <div class="scan-txt">
                打开 <span class="strong">番淘App</span>
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!--product end -->
      <!--footer-->
      <div class="sp-footer">
        <img src="./build/css/imgs/footer-text.png" alt="">
      </div>
      <!--footer end-->
      <div class="hide">
        <img src="./build/css/imgs/girl-2.png" alt="">
        <img src="./build/css/imgs/girl-3.png" alt="">
        <img src="./build/css/imgs/girl-bg.png" alt="">
      </div>
    </div>
  </div>
</div>
<div class="floor-nav">
  <div class="top-icon back-top">&nbsp;</div>
  <div class="sp-tip">
    <a href="javascript:void(0);" id="sp-close-tip" class="close-tip">&nbsp;</a>
  </div>
  <div class="sp-girl">&nbsp;</div>
  <div class="sp-girl-bg_3 hide" id="sp-girl-box">
    <div class="sp-girl_3">&nbsp;</div>
  </div>
</div>
<script>
  window.onload = function() {
    $("#nav-taoriben").addClass("on")
  }
</script>
<script src="./build/css/js/app.js?v=1496804709264"></script>