<div id="frame">
  <div class="bg_2">
    <div class="bg_3">
      <!--banner-->
      <div class="sp-banner">&nbsp;</div>
      <div class="sp-header m-auto w">
        <span class="line-1">&nbsp;</span>
        <span class="line-2">&nbsp;</span>
      </div>
      <!--banner end-->
      <!--product -->
      <div class="sp-main m-auto w" id="floor_1">
        <ul class="product-ul">
          <li class="product-li">
            <div class="r-box">
              <div class="thumb">
                <img src="./build/css/imgs/products/1.png" alt="">
              </div>
              <div class="p-title">Line布朗熊便当盒</div>
              <div class="p-desc">让萌货陪你一起吃饭</div>
              <div class="scan-icon"></div>
            </div>
            <div class="scan-box">
              <div class="scan-img-box">
                <img src="./build/css/imgs/scan/1.png" alt="">
              </div>
              <div class="scan-txt">
                打开 番淘App
              </div>
              <div class="scan-txt">
                点击购物车左上角“扫一扫”下单
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!--product end -->
      <!--footer-->
      <div class="sp-footer">
        <img src="./build/css/imgs/footer-text.png" alt="">
      </div>
      <!--footer end-->
      <div class="hide">
        <img src="./build/css/imgs/girl-2.png" alt="">
        <img src="./build/css/imgs/girl-3.png" alt="">
        <img src="./build/css/imgs/girl-bg.png" alt="">
      </div>
    </div>
  </div>
</div>

<!--floor-nav-->
<div class="floor-nav">
  <div class="top-icon back-top">&nbsp;</div>
  <div class="sp-tip">
    <a href="javascript:void(0);" id="sp-close-tip" class="close-tip">&nbsp;</a>
  </div>
  <div class="sp-girl">&nbsp;</div>
  <div class="sp-girl-bg_3 hide" id="sp-girl-box">
    <div class="sp-girl_3">&nbsp;</div>
  </div>
</div>
<script>
  window.onload = function() {
    $("#nav-taoriben").addClass("on")
  }
</script>
<script src="./build/css/js/app.js?v=<%= time %>"></script>

<script src="./data/data.js"></script>
<script src="./src/app.js"></script>
<script>
  FloorList(productData)
</script>