.sp{
    &-banner{
        height: 566px;
        background:#fe3875 url(./imgs/banner.png) no-repeat center -83px;
    }
    &-header{
        background-color: #fe3875;
        padding-bottom: 30px;
        &-m{
            position: relative;
        }
        a{
            position: absolute;
        }
        .a-link{
            display: inline-block;
            background-color: transparent;
            opacity: 0;
            height: 30px;
            cursor: pointer;
            &-n1{
                width: 160px;
                left: 760px;
                top: 130px;
            }
            &-n2{
                width: 200px;
                left: 240px;
                top: 180px;
            }
        }
    }
    &-main{
        padding-top: 20px;
    }
}